@import "_colors.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px;
  color: $darkFont;
  background-color: $dark;
  min-height: 5.3rem;
}
